body {
  font-family: Roboto,sans-serif;
}

.navbar {
  background-color: red;
}

.nav .nav-link.active {
  color: orange;
  background-color: white;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
  color: white;
}

.navbar-brand {
  font-family: Pacifico, cursive;
}

